/*.footer {
  width: 100%;
  height: 200px;
  background: #171A21;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}



.socialMedia svg {
  color: white;
  margin: 20px;
  font-size: 70px;
  cursor: pointer;
}

.footer p {
  color: white;
}

@media only screen and (max-width: 600px) {
  .footer svg {
    font-size: 50px;
  }
}*/

.footer {
  width: 100%;
  height: 200px;
  background: #171A21;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.socialMedia svg {
  color: white;
  margin: 20px;
  font-size: 70px;
  cursor: pointer;
}

.footer p {
  color: white;
}

@media only screen and (max-width: 600px) {
  .footer {
    height: auto; /* Allow the footer to grow in height as needed on small screens */
    padding: 20px; /* Add more padding to the content */
    text-align: center; /* Center-align the content */
  }

  .footer svg {
    font-size: 50px;
    margin: 10px; /* Reduce the margin between social media icons */
  }
}
